.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  @media screen and (min-width: 320px) {
    max-width: 320px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 75px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    padding: 0 71px;
  }
}

.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.list,
.work-list,
.team-list,
.feature-list,
.footer .address-list,
.filter-list,
.works-list {
  font-style: normal;
  list-style: none;
  text-decoration: none;
}

.text {
  color: var(--primary-text-color);
}

.link {
  transition: var(--time-duration) var(--time-function);
}
