@import './base/reset';
@import './components/backdrop';
@import './components/modal';
@import './utils/vars';
@import './base/container';
@import './utils/hidden';
@import './utils/mixins';
@import './layout/header';
@import './layout/genres';
@import './layout/gallery';
@import './layout/pagination';
@import './layout/footer';
@import './layout/switcher';

@import './layout/scroll';
