.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

$main-text-color: #ffffff;
$accent-color: #ff6b08;

$error-color: #ff001b;

$accent-button-color: #ff6b01;

$primary-background: #e5e5e5;
$second-background: #f7f7f7;
$second-text-color: #545454;
$primary-font: 'Roboto', sans-serif;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
