<section class="gallery content">
  <h1 class="title visually-hidden">Movie Gallery</h1>
  <div class="container">
    <ul class="gallery-list">
      <!-- <p class= -->
      <!-- <li class="gallery-list__item">
                <div class="gallery-list__card">
                    <a class="gallery-list__poster" href="">
                        <img src="./images/gallery/Rectangle.jpg" alt="original_title" width="280" height="402" />
                    </a>
                </div> -->
      <!-- <div class="gallery-list__description"> -->
      <!-- <h2 class="gallery-list__titel">ONCE UPON A TIME... IN HOLLYWOOD</h2>
                    <div class="gallery-list__statics">
                        <p class="gallery-list__text">Genres | <span class="gallery-list__text-aftertext">Year</span> </p>
                        <span class="gallery-list__rating">5.0</span>
                    </div> -->

      <!-- </div> -->
      <!-- </li> -->
    </ul>
    <!-- <p class="end-collection-text error-end-collection visually-hidden ">
      End of film library...
    </p> -->
  </div>
</section>
