<section class="container section-genres visually-hidden">
  <h2 class="title visually-hidden">Movie Genres</h2>
  <div class="genres">
    <button class="genres-btn btn" data-year="2022">2022</button>
    <button class="genres-btn btn" data-year="2021">2021</button>
    <button class="genres-btn btn" data-year="2020">2020</button>
  </div>
  <div class="genres top-trands">
    <button class="genres-btn btn" id="topDay">TOP Day</button>
    <button class="genres-btn btn" id="topWeek">TOP Week</button>
  </div>
</section>
