<div class="backdrop is-hidden" data-modal>
    <div class="modal-film-card">
        <button type="button" class="modal-close" data-modal-close>
            <svg class="modal-close__icon" width="14" height="14">
                <use href="./images/sprite.svg#icon-close-btn"></use>
            </svg>
        </button>
        <div class="modal__wrapper">
            <div class="modal__image-wrapper">
                <a class="" href="">
                    <img class="modal__image" src="./images/gallery/Rectangle.jpg" alt="original_title" width="280"
                        height="357"/>
                </a>
            </div>
            <div class="modal__info-wrapper">
                <h2 class="modal__film-titel">A FISTFUL OF LEAD</h2>
                <table>
                    <tr class="modal__param">
                        <td class="modal__param-titel">Vote / Votes</td>
                        <td class="modal__param-value">
                            <div class="modal__film-votes"><span class="param__value-vote">7.0</span> / <span
                                    class="param__value-votes">1260</span></div>
                        </td>
                    </tr>

                    <tr class="modal__param">
                        <td class="modal__param-titel">Popularity</td>
                        <td class="modal__param-value">100.2</td>
                    </tr>
                    <tr class="modal__param">
                        <td class="modal__param-titel">Original Title</td>
                        <td class="modal__param-value ">A FISTFUL OF LEAD A FISTFUL OF LEA</td>
                    </tr>
                    <tr class="modal__param">
                        <td class="modal__param-titel">Genre</td>
                        <td class="modal__param-value">Action</td>
                    </tr>
                </table>
                <span class="modal__film-owervier">ABOUT</span>
                <div class="film__owervier">
                    <p class="modal__film-owervier-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
                        quam consectetur consequuntur? Quidem debitis earum in nulla deleniti magnam corrupti, ipsam
                        consequuntur obcaecati exercitationem nostrum, optio necessitatibus harum quas explicabo!Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Dicta quam consectetur consequuntur? Quidem
                        debitis earum in
                        nulla deleniti magnam corrupti, ipsam consequuntur obcaecati exercitationem nostrum, optio
                        necessitatibus harum quas
                        explicabo!</p>
                </div>

                <div class="modal__buttons">
                    <button type="submit" class="modal__button watched js-button-add-watched"><span
                            class="add-button-watched-text">ADD TO WATCHED</span></button>
                    <button type="submit" class="modal__button queue js-button-add-queue"><span
                            class="add-button-queue-text">ADD TO QUEUE</span></button>
                </div>
            </div>
        </div>
    </div>
</div>