<div class="backdrop is-hidden" data-modal>
    <div class="modal-film-card">
        <div class="modal__image-wrapper">
            <a class="" href="">
            <img src="./images/gallery/Rectangle.jpg" alt="original_title" width="280" height="402" />
            </a>
        </div>
        <div class="modal__info-wrapper">
            <h2 class="film-titel">ONCE UPON A TIME... IN HOLLYWOOD</h2>
        <table>
            <tr class="modal__param">
                <td class="param-titel">Vote / Votes</td>
                <td class="param-value">
                    <span class="param-value-vote">7.0</span> / <span class="param-value-votes">1260</span>
                </td>
            </tr>
            <tr class="modal__param">
                <td class="param-titel">Popularity</td>
                <td class="param-value">100.2</td>
            </tr>
            <tr class="modal__param">
                <td class="param-titel">Original Title</td>
                <td class="param-value">Original Title</td>
            </tr>
            <tr class="modal__param">
                <td class="param-titel">Genre</td>
                <td class="param-value">Action</td>
            </tr>
        </table>
        <span class="movie-owerwier">ABOUT</span>
        <p class="film-owervier">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, magnam.</p>
        </div>
    </div>
</div>