<section class='modal-team backdrop is-hidden '>
    <!-- <section class='modal-team backdrop'> -->
    <div class='modal-container '>
        <button type="button" class='btn-modal-close'>
            <svg class='btn-close__icon' width='16' height='16' style="fill:black;">
                <use href='./images/sprite.svg#icon-close-btn'></use>
            </svg>
        </button>
        <h2 class='modal__title'>Team name</h2>

        <ul class='team__list list'>
            <li class='team__item'>
                <a class='team__link link'>
                    <div class='img-wrapper'>
                        <img src='./images/gallery/Rectangle.jpg' width="80" />
                    </div>
                    
                    <div class='team__info'>
                        <p class='team__name'>Name</p>
                        <p class='team__position'>Position</p>
                    </div>

                </a>
            </li>
            <li class='team__item'>
                <a class='team__link link'>
                    <div class='img-wrapper'>
                        <img src='./images/gallery/Rectangle.jpg' width="80" />
                    </div>
                    
                    <div class='team__info'>
                        <p class='team__name'>Name</p>
                        <p class='team__position'>Position</p>
                    </div>

                </a>
            </li>
            <li class='team__item'>
                <a class='team__link link'>
                    <div class='img-wrapper'>
                        <img src='./images/gallery/Rectangle.jpg' width="80" />
                    </div>
                    
                    <div class='team__info'>
                        <p class='team__name'>Name</p>
                        <p class='team__position'>Position</p>
                    </div>

                </a>
            </li>
            <li class='team__item'>
                <a class='team__link link'>
                    <div class='img-wrapper'>
                        <img src='./images/gallery/Rectangle.jpg' width="80" />
                    </div>
                    
                    <div class='team__info'>
                        <p class='team__name'>Name</p>
                        <p class='team__position'>Position</p>
                    </div>

                </a>
            </li>
            <li class='team__item'>
                <a class='team__link link'>
                    <div class='img-wrapper'>
                        <img src='./images/gallery/Rectangle.jpg' width="80" />
                    </div>
                    
                    <div class='team__info'>
                        <p class='team__name'>Name</p>
                        <p class='team__position'>Position</p>
                    </div>

                </a>
            </li>
            <li class='team__item'>
                <a class='team__link link'>
                    <div class='img-wrapper'>
                        <img src='./images/gallery/Rectangle.jpg' width="80" />
                    </div>
                    
                    <div class='team__info'>
                        <p class='team__name'>Name</p>
                        <p class='team__position'>Position</p>
                    </div>

                </a>
            </li>
            <li class='team__item'>
                <a class='team__link link'>
                    <div class='img-wrapper'>
                        <img src='./images/gallery/Rectangle.jpg' width="80" />
                    </div>
                    
                    <div class='team__info'>
                        <p class='team__name'>Name</p>
                        <p class='team__position'>Position</p>
                    </div>

                </a>
            </li>
            <li class='team__item'>
                <a class='team__link link'>
                    <div class='img-wrapper'>
                        <img src='./images/gallery/Rectangle.jpg' width="80" />
                    </div>
                    
                    <div class='team__info'>
                        <p class='team__name'>Name</p>
                        <p class='team__position'>Position</p>
                    </div>
    
                </a>
            </li>
            <li class='team__item'>
                <a class='team__link link'>
                    <div class='img-wrapper'>
                        <img src='./images/gallery/Rectangle.jpg' width="80" />
                    </div>
                    
                    <div class='team__info'>
                        <p class='team__name'>Name</p>
                        <p class='team__position'>Position</p>
                    </div>
    
                </a>
            </li>
        </ul>


    </div>
</section>