<div class="modal-team backdrop visually-hidden">
  <h1 class="section-title visually-hidden">Team modal-window</h1>
  <div class="modal-container">
    <button type="button" class="btn-modal-close">
      <svg class="btn-close__icon" width="16" height="16" style="fill: black">
        <use href="./images/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <h2 class="modal__title">Code Monkeys</h2>

    <ul class="team__list list">
      <li class="team__item">
        <a
          class="team__link link"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/AnnaYegorova"
        >
          <div class="img-wrapper">
            <img class="team__img" src="./images/team/Anna-Yegorova.jpg" alt="Ynna Yegorova" />
            <div class="team__info overlay">
              <p class="team__name">Anna Yegorova</p>
              <p class="team__position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team__item">
        <a
          class="team__link link"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/DenisMalv"
        >
          <div class="img-wrapper">
            <img class="team__img" src="./images/team/Denis-Malniev.jpg" alt="Denis Malniev" />
            <div class="team__info overlay">
              <p class="team__name">Denis Malniev</p>
              <p class="team__position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team__item">
        <a
          class="team__link link"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/mpaukov"
        >
          <div class="img-wrapper">
            <img class="team__img" src="./images/team/Michael-Paukov.jpg" alt="Michael Paukov" />
            <div class="team__info overlay">
              <p class="team__name">Michael Paukov</p>
              <p class="team__position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team__item">
        <a
          class="team__link link"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/VenjaVenja"
        >
          <div class="img-wrapper">
            <img class="team__img" src="./images/team/Denis-Venher.jpg" alt="Denis Denis" />
            <div class="team__info overlay">
              <p class="team__name">Denis Denis</p>
              <p class="team__position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team__item">
        <a
          class="team__link link"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/Makapoh1ha"
        >
          <div class="img-wrapper">
            <img
              class="team__img"
              src="./images/team/Oleksandr-Melnychenko.jpg"
              alt="Oleksandr Melnichenko"
            />
            <div class="team__info overlay">
              <p class="team__name">Oleksandr Melnichenko</p>
              <p class="team__position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team__item">
        <a
          class="team__link link"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/AlyonaLozovska"
        >
          <div class="img-wrapper">
            <img class="team__img" src="./images/team/Alyona-Lozovska.jpg" alt="Alyona Lozovska" />
            <div class="team__info overlay">
              <p class="team__name">Alyona Lozovska</p>
              <p class="team__position">Developer</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team__item">
        <a
          class="team__link link"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/MaksymChuraiev"
        >
          <div class="img-wrapper">
            <img class="team__img" src="./images/team/Maksym-Churaiev.jpg" alt="Maksym Churaiev" />
            <div class="team__info overlay">
              <p class="team__name">Maksym Churaiev</p>
              <p class="team__position">Team Leader</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team__item">
        <a
          class="team__link link"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/Ye2212"
        >
          <div class="img-wrapper">
            <img
              class="team__img"
              src="./images/team/Yevheniia-Ukolova.jpg"
              alt="Yevheniia Ukolova"
            />
            <div class="team__info overlay">
              <p class="team__name">Yevheniia Ukolova</p>
              <p class="team__position">Scrum Master</p>
            </div>
          </div>
        </a>
      </li>
      <li class="team__item">
        <a class="team__link link" target="_blank" rel="noopener noreferrer" href="https://goit.ua">
          <div class="img-wrapper">
            <img class="team__img" src="./images/team/goit-logo.jpg" alt="GoIt" />
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
