<section class="">
  <h2 class="title visually-hidden">Movie Pagination</h2>
  <ul class="pagination container">
    <li class="page_item">
      <a href="#" class="page_link pagination_btn btn_start" data-page="prev">&#60;</a>
    </li>
    <li class="page_item">
      <a href="#" class="page_link pagination_btn btn_arrow" data-page="start"> </a>
    </li>
    <li class="page_item"><a href="#" class="page_link pagination_btn" data-page="less">...</a></li>
    <li class="pages"></li>
    <li class="page_item"><a href="#" class="page_link pagination_btn" data-page="more">...</a></li>
    <li class="page_item">
      <a href="#" class="page_link pagination_btn btn_end" data-page="end"> </a>
    </li>
    <li class="page_item">
      <a href="#" class="page_link pagination_btn btn_arrow" data-page="next">&#62;</a>
    </li>
  </ul>
</section>
