<section>
  <ul class="pagination container">
    <li class="page_item">
      <a href="#" class="page_link pagination_btn btn_arrow" data-page="prev"> <</a>
    </li>
    <li class="page_item"><a href="#" class="page_link pagination_btn" data-page="less">...</a></li>
    <ul class="pages">
    
    </ul>
    <li class="page_item"><a href="#" class="page_link pagination_btn" data-page="more">...</a></li>
    <li class="page_item">
      <a href="#" class="page_link pagination_btn btn_arrow" data-page="next">></a>
    </li>
  </ul>
</section>
