<section class="pagination-theme">
  <ul class="pagination container">
    <li class="page_item">
      <a href="#" class="page_link pagination_btn btn_arrow" data-page="prev"> <</a>
    </li>
    <li class="page_item"><a href="#" class="page_link pagination_btn" data-page="less">...</a></li>
    <ul class="pages">
      <!-- ============ -->
      <!-- <li class="page_item">

                <a href="#" class="page_link pagination_btn" data-page={{array.page - 1}}>1</a>
            </li>
            <li class="page_item disabled">
                <a href="#" class="page_link pagination_btn btn_active" data-page={{array.page}}>2</a>
            </li>
            <li class="page_item">
                <a href="#" class="page_link pagination_btn" data-page={{array.page + 1}}>3</a>
            </li> -->
      <!-- ===================== -->
    </ul>
    <li class="page_item"><a href="#" class="page_link pagination_btn" data-page="more">...</a></li>
    <li class="page_item">
      <a href="#" class="page_link pagination_btn btn_arrow" data-page="next">></a>
    </li>
  </ul>
</section>
