<section class="slider__section">
  <h2 class="title visually-hidden">Movie Slider</h2>
    <div class="container">
     <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <img class='slider-image' src="./images/gallery/Rectangle.jpg" width="200" height="280" alt="Rectangle" />
            </li>
            <li class="glide__slide">
              <img class='slider-image' src="./images/gallery/Rectangle.jpg" width="200" height="280" alt="Rectangle" />

            </li>
            <li class="glide__slide">
              <img class='slider-image' src="./images/gallery/Rectangle.jpg" width="200" height="280" alt="Rectangle" />
            </li>
            <li slider-image class="glide__slide">
              <img class='slider-image' src="./images/gallery/Rectangle.jpg" width="200" height="280" alt="Rectangle" />
            </li>

            <!-- <li class="glide__slide">
              <img src="./images/gallery/Rectangle.jpg" width="250" height="350" />
            </li>
            <li class="glide__slide">
              <img src="./images/gallery/Rectangle.jpg" width="250" height="350" />
            </li>
            <li class="glide__slide">
              <img src="./images/gallery/Rectangle.jpg" width="250" height="350" />
            </li>
            <li class="glide__slide">
              <img src="./images/gallery/Rectangle.jpg" width="250" height="350" />
            </li>
            <li class="glide__slide">
              <img src="./images/gallery/Rectangle.jpg" width="250" height="350" />
            </li> -->
          </в>
      </div>

        <!-- <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
        </div> -->

    </div>
  </section>
  <script src='./js/components/slider.js'></script>