<section class="slider__section">
  <h2 class="title visually-hidden">Movie Slider</h2>
    <div class="container">
     <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides"
            style="transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; width: 1435.5px; transform: translate3d(-638px, 0px, 0px);">
            <!-- <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="0">
              
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="1">
              
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="2">
              
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="3">
             
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="4">
              
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="5">
             
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="6">
              
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="7">
              
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="8">
             
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="9">
              
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="10">
              
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="11">
              
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="12">
             
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="13">
             
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="14">
              
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="15">
             
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="16">
              
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="17">
              
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="18">
              
            </li>
            <li class="glide__slide" style="width: 136px; margin-left: 10px; margin-right: 10px;" data-idx="19">
              
            </li> -->
          </ul>
      </div>

        <!-- <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
        </div> -->

    </div>
  </section>
  <script src='./js/components/slider.js'></script>