<div class="toolbar">
  <!-- Разметка переключателя темы -->
  <div class="theme-switch">
    <div class="theme-switch__control">
      <input
        class="theme-switch__toggle"
        type="checkbox"
        name="theme"
        id="theme-switch-toggle"
        aria-label="Переключить между тёмной и светлой темой"
      />
      <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
      <div aria-hidden="true" class="theme-switch__marker"></div>
    </div>
  </div>
</div>
