.filter_button {
  width: 45px;
  height: 20px;
  background-color: rgba($color: #e5e5e5, $alpha: 0.75);
  color: black;

  border: $accent-color;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;

  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 14px;
  //   line-height: 1.14;

  &.button-active {
    background-color: rgba($color: #ff6b08, $alpha: 0.75);
    color: white;
  }
}

.hidden {
  visibility: hidden;
}
