.section-genres .dark-theme {
  background: #5e210f;
  background: linear-gradient(90deg, #5e210f 0%, rgba(28, 21, 14, 0.7598389698) 38%);
  color: #fff;
}
.section-genres .light-theme {
  background-color: #fff;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.btn {
  display: inline-block;
  color: #212529;
  background-color: #f7f7f7;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.anotherGenres {
  margin-top: 4px;
}
