.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  gap: 4px;
  color: #000;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding-left: 0;
}
.page_item {
  display: flex;
  list-style: none;
  padding: 0;
}

.page_link {
  width: 40px;
  height: 40px;
}

.pagination_btn {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  opacity: 0.8;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  // transform: matrix(-1, 0, 0, 1, 0, 0);
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s,
    border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  color: $accent-color;
}

.btn_active {
  background: #ff6b08;
  color: #ffffff;
}
.btn_disabled {
  pointer-events: none;
  opacity: 0.75;
}
.btn_arrow {
  background: $second-background;
}

.error-end-collection {
  margin: 0 auto;
  padding-top: 30px;
  // padding-bottom: 60px;
  width: 100%;
  max-width: 393px;
  font-family: $primary-font;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: $error-color;
}
