.gallery.light-theme {
  background-color: #fff;
}

.gallery.dark-theme {
  background: rgb(99, 39, 21);
  background: radial-gradient(circle, rgba(99, 39, 21, 1) 0%, rgba(3, 2, 1, 1) 38%);
  color: #fff;
}

.toolbar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: flex-end;
  padding: 15px 15px;
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: $accent-color;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms $timing-function;
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(20px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px $accent-color;
}
