body.light-theme {
  background-color: #fff;
  background-image: linear-gradient(rgba(190, 190, 194, 0.4), rgba(140, 141, 146, 0.4)),
    url('../images/white-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
}

body.dark-theme {
  background-color: rgba(0, 0, 0, 0.952);
  // background-image: url('../images/dark-bg.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;

  // background: rgb(94, 33, 15);
  // background: linear-gradient(
  //   90deg,
  //   rgba(94, 33, 15, 1) 0%,
  //   rgba(28, 21, 14, 0.7598389697675946) 38%
  // );

  // background: rgb(61, 21, 9);
  // background: linear-gradient(
  //   90deg,
  //   rgba(61, 21, 9, 1) 18%,
  //   rgba(11, 6, 0, 0.7598389697675946) 71%
  // );
  // background: rgb(61, 21, 9);
  // background: linear-gradient(
  //   90deg,
  //   rgba(61, 21, 9, 1) 18%,
  //   rgba(11, 6, 0, 0.7598389697675946) 71%
  // );

  color: #121212;
}

.modal-container.light-theme {
  background-image: linear-gradient(rgba(190, 190, 194, 0.4), rgba(140, 141, 146, 0.4));
}
.modal-container.dark-theme {
  background-color: #8c8c8c;

  // background-image: linear-gradient(rgba(46, 46, 46, 0.9), rgb(0, 0, 0, 0.9));
}

.modal-film-card.dark-theme {
  background-color: #8c8c8c;
}

// .modal__film-owervier-text.light-theme {
//   color: #000;
// }
// .modal__film-owervier-text.dark-theme {
//   color: rgb(255, 255, 255);
// }

.page_item.dark-theme {
  color: #000;
  background-color: rgb(109, 109, 109);
}

.toolbar {
  position: absolute;
  // left: 0px;
  left: 20px;
  right: 20px;
  top: 130px;
  display: flex;
  justify-content: space-between;
  // justify-content: flex-end;

  @media screen and (min-width: 768px) {
    left: 79px;
    right: 77px;
    top: 140px;
  }
  @media screen and (min-width: 1024px) {
    right: 72px;
  }
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__control {
  width: 45px;
  height: 20px;
  background-color: #000;
  border: #1d92b2;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 6px;
  cursor: pointer;
  display: flex;
  position: relative;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #3a3a3a;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}
.theme-switch__track::before {
  content: '';
  background-size: 13px 13px;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  left: 6px;
  display: block;
  top: 50%;
  margin-top: -7px;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cstyle%3E.a%7Bfill:%23F0C419;%7D%3C/style%3E%3Cg fill='none'%3E%3Cg class='a'%3E%3Cpath d='M7.5 0C7.4 0 7.3 0.1 7.3 0.3L7.3 1.8C7.3 1.9 7.4 2 7.5 2 7.6 2 7.8 1.9 7.8 1.8L7.8 0.3C7.8 0.1 7.6 0 7.5 0Z'/%3E%3Cpath d='M7.5 13C7.4 13 7.3 13.1 7.3 13.3L7.3 14.8C7.3 14.9 7.4 15 7.5 15 7.6 15 7.8 14.9 7.8 14.8L7.8 13.3C7.8 13.1 7.6 13 7.5 13Z'/%3E%3Cpath d='M14.8 7.3L13.3 7.3C13.1 7.3 13 7.4 13 7.5 13 7.6 13.1 7.8 13.3 7.8L14.8 7.8C14.9 7.8 15 7.6 15 7.5 15 7.4 14.9 7.3 14.8 7.3Z'/%3E%3Cpath d='M2 7.5C2 7.4 1.9 7.3 1.8 7.3L0.3 7.3C0.1 7.3 0 7.4 0 7.5 0 7.6 0.1 7.8 0.3 7.8L1.8 7.8C1.9 7.8 2 7.6 2 7.5Z'/%3E%3Cpath d='M11.6 3.7C11.6 3.7 11.7 3.7 11.7 3.6L13.2 2.2C13.3 2.1 13.3 1.9 13.2 1.8 13.1 1.7 12.9 1.7 12.8 1.8L11.4 3.3C11.3 3.4 11.3 3.5 11.4 3.6 11.4 3.7 11.5 3.7 11.6 3.7Z'/%3E%3Cpath d='M3.3 11.4L1.8 12.8C1.7 12.9 1.7 13.1 1.8 13.2 1.9 13.2 1.9 13.3 2 13.3 2.1 13.3 2.1 13.2 2.2 13.2L3.6 11.7C3.7 11.6 3.7 11.5 3.6 11.4 3.5 11.3 3.4 11.3 3.3 11.4Z'/%3E%3Cpath d='M11.7 11.4C11.6 11.3 11.5 11.3 11.4 11.4 11.3 11.5 11.3 11.6 11.4 11.7L12.8 13.2C12.9 13.2 12.9 13.3 13 13.3 13.1 13.3 13.1 13.2 13.2 13.2 13.3 13.1 13.3 12.9 13.2 12.8L11.7 11.4Z'/%3E%3Cpath d='M2.2 1.8C2.1 1.7 1.9 1.7 1.8 1.8 1.7 1.9 1.7 2.1 1.8 2.2L3.3 3.6C3.3 3.7 3.4 3.7 3.4 3.7 3.5 3.7 3.6 3.7 3.6 3.6 3.7 3.5 3.7 3.4 3.6 3.3L2.2 1.8Z'/%3E%3Cpath d='M12.6 5.4C12.6 5.4 12.7 5.5 12.8 5.5 12.8 5.5 12.9 5.5 12.9 5.5L13.6 5.2C13.7 5.1 13.8 5 13.7 4.9 13.7 4.7 13.5 4.7 13.4 4.7L12.7 5C12.6 5.1 12.5 5.2 12.6 5.4Z'/%3E%3Cpath d='M2.4 9.6C2.4 9.5 2.2 9.5 2.1 9.5L1.4 9.8C1.3 9.9 1.2 10 1.3 10.1 1.3 10.2 1.4 10.3 1.5 10.3 1.5 10.3 1.6 10.3 1.6 10.3L2.3 10C2.4 9.9 2.5 9.8 2.4 9.6Z'/%3E%3Cpath d='M13.6 9.7L12.9 9.4C12.8 9.4 12.7 9.4 12.6 9.6 12.5 9.7 12.6 9.8 12.7 9.9L13.4 10.2C13.5 10.2 13.5 10.2 13.5 10.2 13.6 10.2 13.7 10.1 13.8 10 13.8 9.9 13.7 9.8 13.6 9.7Z'/%3E%3Cpath d='M1.4 5.3L2.1 5.6C2.1 5.6 2.1 5.6 2.2 5.6 2.3 5.6 2.4 5.5 2.4 5.4 2.5 5.3 2.4 5.2 2.3 5.1L1.6 4.8C1.4 4.8 1.3 4.8 1.2 5 1.2 5.1 1.3 5.2 1.4 5.3Z'/%3E%3Cpath d='M10 12.7C9.9 12.6 9.8 12.5 9.6 12.6 9.5 12.6 9.5 12.8 9.5 12.9L9.8 13.6C9.8 13.7 9.9 13.7 10 13.7 10.1 13.7 10.1 13.7 10.1 13.7 10.3 13.7 10.3 13.5 10.3 13.4L10 12.7Z'/%3E%3Cpath d='M5.3 2.5C5.3 2.5 5.3 2.5 5.4 2.4 5.5 2.4 5.5 2.2 5.5 2.1L5.2 1.4C5.1 1.3 5 1.2 4.9 1.3 4.7 1.3 4.7 1.5 4.7 1.6L5 2.3C5.1 2.4 5.2 2.5 5.3 2.5Z'/%3E%3Cpath d='M5.4 12.6C5.3 12.5 5.2 12.6 5.1 12.7L4.8 13.4C4.8 13.6 4.8 13.7 5 13.8 5 13.8 5 13.8 5.1 13.8 5.2 13.8 5.3 13.7 5.3 13.6L5.6 12.9C5.6 12.8 5.6 12.7 5.4 12.6Z'/%3E%3Cpath d='M9.7 2.4C9.8 2.4 9.8 2.4 9.9 2.3L10.2 1.6C10.2 1.4 10.2 1.3 10 1.2 9.9 1.2 9.8 1.3 9.7 1.4L9.4 2.1C9.4 2.2 9.4 2.3 9.6 2.4 9.6 2.4 9.6 2.4 9.7 2.4Z'/%3E%3C/g%3E%3Ccircle cx='7.5' cy='7.5' r='5' class='a'/%3E%3Ccircle cx='7.5' cy='7.5' r='3.8' fill='%23EDE21B'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.theme-switch__track::after {
  content: '';
  background-size: 13px 13px;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  right: 6px;
  display: block;
  top: 50%;
  margin-top: -7px;
  position: absolute;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='15px' viewBox='0 0 15 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Film' transform='translate(-1566.000000, -1086.000000)' fill-rule='nonzero'%3E%3Cg id='Group' transform='translate(1566.000000, 1086.000000)'%3E%3Cpath d='M4.4064,11.26584 C8.19456,11.26584 11.26512,8.1948 11.26512,4.40664 C11.26512,2.72808 10.66032,1.19256 9.65952,0.00024 C12.75168,0.99288 14.99088,3.8892 14.99088,7.31112 C14.99088,11.55288 11.55264,14.99112 7.31088,14.99112 C3.88896,14.99112 0.99264,12.75192 8.52651283e-16,9.65976 C1.19232,10.66104 2.72832,11.26584 4.4064,11.26584 Z' id='Path' fill='%23FFD93B'%3E%3C/path%3E%3Cpath d='M12.0576,1.28328 C13.0848,2.5884 13.70208,4.23144 13.70208,6.02184 C13.70208,10.2636 10.26384,13.70184 6.02208,13.70184 C4.23168,13.70184 2.58864,13.08456 1.28352,12.05736 C2.68896,13.84152 4.86384,14.99112 7.31136,14.99112 C11.55312,14.99112 14.99136,11.55288 14.99136,7.31112 C14.99136,4.8636 13.84176,2.6892 12.0576,1.28328 Z' id='Path' fill='%23F4C534'%3E%3C/path%3E%3Cg transform='translate(1.260000, 2.460000)' fill='%23FFD83B' id='Path'%3E%3Cpolygon points='2.58384 0.53832 3.37488 2.142 5.14416 2.3988 3.864 3.6468 4.16592 5.40888 2.58384 4.57704 1.00128 5.40888 1.3032 3.6468 0.02304 2.3988 1.79232 2.142'%3E%3C/polygon%3E%3Cpolygon points='7.04592 0.0252 7.45584 0.85656 8.37312 0.98952 7.70928 1.63656 7.86624 2.54952 7.04592 2.11848 6.2256 2.54952 6.38256 1.63656 5.71872 0.98952 6.636 0.85656'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.theme-switch__marker {
  position: relative;
  background-color: $accent-color;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(24px);
  transition: transform 250ms $timing-function;
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #a5a5a5;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(5px);
}

// .theme-switch__toggle:focus + .theme-switch__track,
// .theme-switch__toggle:active + .theme-switch__track {
//   box-shadow: 0 0 0 3px $accent-color;
// }
